.venv
.env*
storage
tests
.pytest_cache
.pytest_tmp
.pytest_e2e
.ruff_cache
__pycache__
**/__pycache__
*.db
*.pyc
**/*.pyc
.venv*
.coverage*
coverage
htmlcov
*.log
*.tmp
*.bak
*.pem
*.key
.git
.idea
.vscode
docs
